/*GENERAL*/
html
{

}
body
{
    font-family: Georgia, 'Times New Roman', Times, serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    width: 70%;
}
.sections
{
    display: flex;
    flex-direction: row; 
}
/*header*/
header
{

}
.presentation
{
    display: flex;
    flex-direction: row;
}
.photo
{
    background-color: #FF8800;
    height: 249px;
}
.nom
{
    height: 249px;
    margin-left: 50px;
}
h1
{
    font-size: 40px;
    margin-top: 71px;
}
.prenom
{
    color: #FF8800;
}
.nom p
{
    font-size: 25px;
    padding-bottom: 40px;
}
.underline
{
    border-bottom: 2px solid;
    border-color: #FF8800;
}
/*IMAGE*/
#photocv
{
    margin: 30px;
    overflow: hidden;
    border-radius: 50%;
    height: 193px;
}
/*Bloc présentation*/
h2
{
    font-size: 20px;
    text-align: center;
    color: #FF8800;
    background-color: #7E7E7E;
}
.infos
{
    background-color: #FF8800;
    display: flex;
    flex-direction: column;
    height: auto;
    min-width: 250px;
    max-width: 285px;
}
.CONTACT
{

}
.CONTACT p
{
    font-size: 15px;
    margin-left: 20px;
    margin-right: 20px;
}
.A_PROPOS_DE_MOI
{
    font-size: 15px;
    margin-bottom: 409px;
}
.A_PROPOS_DE_MOI p
{
    font-size: 15px;
    margin-left: 20px;
    margin-right: 20px;
    text-align: justify;
}
.LOISIRS
{
    font-size: 15px;
    display: flex;
    flex-direction: column;
    height: 160px;
    background-color: #FF8800;
}
.LOISIRS ul
{
    display: flex;
    justify-content: space-around;
    padding: 0px 20px;
}
.LOISIRS ul li
{
    font-size: 2em;
    list-style-type: none;
    border-radius: 50%;
    border: 2px solid #000000;
    width: 38px;
    height: 34px;
    margin: 11px;
    padding: 4px;
}
/*Parcours pro*/
h3
{
    font-size: 20px;
}
.parcours_pro
{
    display: flex;
    flex-direction: column;
    height: 1050px;
    margin-left: 36px;
}
/*formation*/
.formation
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.date_formation ul
{
    padding-inline-start: 0px;
}
.date_formation ul li
{
    width: 136px;
    height: 130px;
    list-style-type: none;
    font-size: 16px;
}
.date_formation ul li span
{
    margin-left: 20px;
}
.type_formation ul li
{
    list-style-type: none;
}
.type_formation ul li ul
{
    height: 130px;
}
.type_formation ul li ul li
{
    list-style-type: none;
    margin-left: 15px;
    height: 26px;
    text-align: justify;
}
/*experience*/
.experience
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.date_experience ul
{
    padding-inline-start: 0px;
}
.date_experience ul li
{
    width: 136px;
    height: 152px;
    list-style-type: none;
    font-size: 16px;
}
.date_experience ul li span
{
    margin-left: 20px;
}
.entreprise ul li
{
    list-style-type: none;
}
.entreprise ul li ul
{
    height: 150px;
}
.entreprise ul li ul li
{
    list-style-type: none;
    margin-left: 15px;
    height: 26px;
    text-align: justify;
}
/*compétences*/
.bloc_competences
{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    height: 137px;
}
.competence
{
    width: 363px;
}
.competence ul
{
    padding-left: 0px;
    padding-right: 120px;
}
.competence ul li
{
    list-style-type: none;
    height: 26px;
}
/*Icones*/
.fa-dot-circle
{
    font-size: 10px;
    padding-inline-end: 10px;
    color: #FF8800;
}
.fa-circle
{
    font-size: 8px;
    padding-inline-end: 10px;
    color: #FF8800;   
}
.fa-graduation-cap
{
    padding-inline-end: 10px;
    color: #FF8800; 
}
.fa-briefcase
{
    padding-inline-end: 10px;
    color: #FF8800; 
}
.fa-pencil-alt
{
    padding-inline-end: 10px;
    color: #FF8800; 
}
hr{
    height: 2px;
    background-color: #FF8800;
    border: none;
  }



/*RESPONSIVE VERSION TABLETTE*/
@media screen and (max-width: 1280px)
{
    body
{
    width: 78.2%;
}
.sections
{
    display: flex;
    flex-direction: column; 
}
/*header*/
.presentation
{
    height: 184px;
}
.photo
{
    height: 184px;
    background-color: #ffffff;
}
.nom
{
    height: 184px;
    padding-bottom: 0px;
    margin-left: 0px;
}
h1
{
    font-size: 20px;
}
.nom p
{
    font-size: 17px;
}
/*IMAGE*/
#photocv
{
    margin: 17px 52px;
    height: 150px;
}
img
{
    height: 150px;
}
/*Bloc présentation*/
h2
{
    font-size: 16px;
    margin: 0px;
}
.CONTACT
{
    width: 30%;
}
.CONTACT p
{
    font-size: 13px;
}
.infos
{
    flex-wrap: wrap;
    flex-direction: row;
    max-width: 1280px;
    opacity: 0.8; 

}
.A_PROPOS_DE_MOI
{
    margin-bottom: 0px;
    width: 70%;
}
.A_PROPOS_DE_MOI p
{
    font-size: 16px;
    padding-top: 10px;
}
.LOISIRS
{
    flex: 100%;
    height: 86px;
    justify-content: space-around;
}
.LOISIRS ul
{
    flex-direction: row;
    padding: 0px;
}
.LOISIRS ul li
{
    font-size: 1.5em;
    width: 30px;
    height: 27px;
    margin: 0px;
}
/*Parcours pro*/
h3
{
    font-size: 16px;
}
.parcours_pro
{
    height: 1286px;
    margin-left: 0px;
}
/*formation*/
.date_formation ul li
{
    height: 117px;
    font-size: 15px;
}
.type_formation ul li ul
{
    height: 116px;
}
.type_formation ul li ul li
{
    height: 26px;
    font-size: 14px;
    margin-left: 0px;
}

/*experience*/
.date_experience ul li
{
    height: 120px;
    font-size: 15px;
}
.entreprise ul li ul
{
    margin-left: 0px;
    height: 116px;
}
.entreprise ul li ul li
{
    height: 25px;
    font-size: 14px;
    margin-left: 0px;
}
/*compétences*/
.bloc_competences
{
    height: 121px;
}
.competence ul li
{
    list-style-type: none;
    height: 24px;
    font-size: 14px;
}
}

/*RESPONSIVE VERSION MOBILE*/
@media screen and (max-width: 800px)
{
    body
{

}
.sections
{
    display: flex;
    flex-direction: column; 
}
/*header*/
.presentation
{

    height: 228px;
}
.photo
{
    height: 211px;

    background-color: #ffffff;
}
.nom
{

    height: 211px;
}
h1
{
    font-size: 22px;
    padding-top: 48px;
}
.nom p
{
    font-size: 18px;
}
/*IMAGE*/
#photocv
{
    margin: 9px;
    height: 190px;
}
/*Bloc présentation*/
h2
{
    font-size: 18px;
}
.infos
{
    flex-direction: row;
    height: 347px;

    opacity: 0.8; 
}
.CONTACT p
{

}
.A_PROPOS_DE_MOI
{
    font-size: 15px;
    margin-bottom: 346px;
}
.A_PROPOS_DE_MOI p
{
    font-size: 16px;
    padding-top: 10px;
}
.LOISIRS
{

    height: 347px
}
.LOISIRS ul
{
    padding: 24px 34px;
    flex-direction: column;
}
/*Parcours pro*/
h3
{
    font-size: 18px;
}
.parcours_pro
{
    height: 1154px;
    margin-left: 0px;
}
/*formation*/
.date_formation ul li
{

    height: 117px;
}
.type_formation ul li ul
{
    height: 116px;
}
/*experience*/
.date_experience ul li
{
    height: 137px;
}
.entreprise ul li ul
{
    height: 134px;
}
/*compétences*/
.bloc_competences
{
    height: 121px;
}
.competence ul li
{
    list-style-type: none;
    height: 24px;
}
}